<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/20_palonek/przewodnik/static/style.css">
    <link rel="shortcut icon" href="/20_palonek/przewodnik/static/images/motyl.png">
    <title>Przewodnik po świecie ciszy - daktylografia teoria</title>
</head>
<body>
    <!-- nawigacja -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <a href="/20_palonek/przewodnik/" class="navbar-brand"><i class="bi bi-house h3 px-2"></i> Przewodnik po świecie ciszy</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/kultura" class="nav-link">Kultura Głuchych</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/daktylografia" class="nav-link active">Daktylografia</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/o_serwisie" class="nav-link">O serwisie</a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                            <a href="{{ url_for('dashboard') }}" class="btn btn-success btn-small">Mój profil</a>
                        {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-success btn-small">Logowanie</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- nagłówek -->
        <!-- p-5 - padding (wartości 1-5); może być pt - padding top, pb, px (po prawej i lewej), py -->
    <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex">
                <div class="mx-4">
                    <h1>Daktylografia - teoria</h1>
                    <div class="showcase-left">
                    <p class="lead">
                        W tej części serwisu poznasz znaki alfabetu palcowego i&nbsp;dowiesz się, kiedy jest używany.
                    </p>
                    </div>
                </div>
                <img id="motyl" class="img-fluid w-25" src="/20_palonek/przewodnik/static/images/motyl.png" alt="Logo motyla w kolorach białym i turkusowym">

            </div>
        </div>
    </section>

    <!-- teoria - wyjaśnienie -->
    <section class="p-5 bg-light">
        <div class="container">
            <h2>Teoria</h2>
            <h3> Co to jest daktylografia?</h3>
                <p class="lead">
                    Daktylografia lub inaczej mowa palcowa to forma porozumiewania się oparta na określonych układach dłoni.
                    Każdej literze odpowiada określony znak daktylograficzny.
                </p>
            <h3> Kiedy używa się alfabetu palcowego?</h3>
                <p class="lead pb-0 mb-0">
                    Osoby porozumiewające się językiem migowym nie literują każdego wyrazu, ponieważ zajmowałoby to bardzo
                    dużo czasu i byłoby nieefektywne. Polski język migowy opiera się przede wszystkim na znakach, nie literach.
                    Więcej na ten temat możesz przeczytać w zakładce <a href="https://limba.wzks.uj.edu.pl/20_palonek/przewodnik/kultura#jezyk"> Kultura Głuchych</a>.<br>
                    Alfabetu palcowego używa się do literowania:
                </p>
                <ul class="lead">
                    <li>nazw własnych (najczęściej imion i nazwisk),</li>
                    <li>wyrazów, dla których nie ma znaków w języku migowym,</li>
                    <li>nowych wyrazów podczas nauki języka migowego.</li>
                </ul>
        </div>
    </section>


    <!-- litery -->
    <section class=" p-5 bg-turquoise">
        <div class="container">
            <h2>Alfabet</h2>
            <p class="lead">
                Zaprezentowane poniżej układy dłoni widziane są z perspektywy odbiorcy.
            </p>
            <!-- aąb -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/a.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Aa</h3>
                            <p class="card-text text-center" >Litera "A" jest migana jako zaciśnięta pięść.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/a1.jpg" class="card-img-top" alt="litera ą">
                        <div class="card-body_letter">
                            <h3>Ąą</h3>
                            <p class="card-text text-center">Litera "Ą" jest migana tak jak "A", jednak dodatkowo, cała dłoń porusza się wykonując pół okręgu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/b.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Bb</h3>
                            <p class="card-text text-center">Litera "B" jest migana jako rozprostowana dłoń.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- cćd -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/c.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Cc</h3>
                            <p class="card-text text-center">Litera "C" jest migana w ten sposób, że palce wskazujący i kciuk formują kształt litery "C", a pozostałe palce są zaciśnięte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/c1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ćć</h3>
                            <p class="card-text text-center">Litera "Ć" jest migana tak, jak litera "C", ale cała dłoń porusza się w dół.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/d.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Dd</h3>
                            <p class="card-text text-center">Litera "D" jest migana jako małe kółko rysowane w powietrzu palcem wskazującym,
                                podczas gdy pozostałe palce są zaciśnięte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- eęf -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/e.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ee</h3>
                            <p class="card-text text-center">Litera "E" jest migana w ten sposób, że wyprostowane palce tworzą z dłonią kąt prosty, a kciuk stanowi "podpórkę".</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/e1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ęę</h3>
                            <p class="card-text text-center">Litera "Ę" jest migana tak, jak litera "E", ale cała dłoń porusza się w dół wykonując pół okręgu.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/f.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ff</h3>
                            <p class="card-text text-center">Litera "F" jest migana w ten sposób, że wyprostowany palec wskazujący tworzy z dłonią kąt prosty,
                                a kciuk dotyka go od zewnętrznej strony. Pozostałe palce są wyprostowane. Całą dłoń porusza się po łuku - najpierw
                             w górę, a następnie w dół.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ghi -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/g.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Gg</h3>
                            <p class="card-text text-center">Litera "G" jest migana jako pstryknięcie środkowym palcem.
                                Początkowo jest on przytrzymywany przez kciuk, a następnie się prostuje.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/h.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Hh</h3>
                            <p class="card-text text-center">Litera "H" jest migana w ten sposób, że palce wskazujący i środkowy tworzą "haczyki",
                                pozostałe palce są zgięte, a cała dłoń porusza się w dół.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/i.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ii</h3>
                            <p class="card-text text-center">Litera "I" jest migana w ten sposób, że mały palec jest wyprostowany,
                                a pozostałe palce zaciśnięte w pięść.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- jkl -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/j.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Jj</h3>
                            <p class="card-text text-center">Litera "J" jest migana jak litera "I", ale cała dłoń porusza się w dół po łuku,
                                tworząc kształt litery "J".</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/k.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Kk</h3>
                            <p class="card-text text-center">Litera "K" jest migana tak, że kciuk, palec wskazujący i środkowy są wyprostowane,
                                pozostałe palce są zgięte, a dłoń w nadgarstku przekręca się do przodu, przez co wyprostowane palce zmieniają
                                położenie z pionowego do poziomego.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/l.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ll</h3>
                            <p class="card-text text-center">Litera "L" jest tak, że kciuk i palec wskazujący są wyprostowane i tworzą kąt prosty,
                            a pozostałe palce są zgięte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- łmn -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/l1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Łł</h3>
                            <p class="card-text text-center">Litera "Ł" jest migana tak, jak litera "Ł", ale cała dłoń porusza się w bok.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/m.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Mm</h3>
                            <p class="card-text text-center">Litera "M" jest migana w ten sposób, że wszystkie palce oprócz kciuka są wyprostowane,
                                złożone razem, wyłożone poziomo i lekko zgięte względem dłoni.
                                Kciuk lekko wystaje znad palca wskazującego.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/n.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Nn</h3>
                            <p class="card-text text-center">Litera "N" jest migana podobnie do "M", ale wyprostowane są tylko palce wskazujący i środkowy,
                                a pozostałe są zgięte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ńoó -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/n1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ńń</h3>
                            <p class="card-text text-center">Litera "Ń" jest migana tak, jak litera "N", ale cała dłoń porusza się w dół.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/o.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Oo</h3>
                            <p class="card-text text-center">Litera "O" jest migana w ten sposób, że palce wskazujący i kciuk formują
                                kształt koła, a pozostałe palce są wyprostowane.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/o1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Óó</h3>
                            <p class="card-text text-center">Litera "Ó" jest migana tak, jak litera "O", ale cała dłoń porusza się w dół.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- prs -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/p.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Pp</h3>
                            <p class="card-text text-center">Litera "P" jest migana w ten sposób, że wyprostowany palc wskazujacy tworzy
                                z dłonią kąt prosty, kciuk stanowi "podpórkę", a pozostałe palce są zgięte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/r.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Rr</h3>
                            <p class="card-text text-center">Litera "R" jest migana tak, jako skrzyżowane pale wskazujący i środkowy,
                                a pozostałe palce zaciśnięte.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/s.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ss</h3>
                            <p class="card-text text-center">Litera "S" jest migana w ten sposób, że kciuk jest wyprostowany, palec
                                wskazujący jest zgięty w ten sposób, że opiera się na kciuku w połowie jego długości,
                                a pozostałe palce są wyprostowane.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- śtu -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/s1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Śś</h3>
                            <p class="card-text text-center">Litera "Ś" jest migana tak, jak litera "S", ale cała dłoń porusza się w dół..</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/t.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Tt</h3>
                            <p class="card-text text-center">Litera "T" jest migana w ten sposób, że wyprostowany palec wskazujący
                                tworzy z dłonią kąt prosty, a kciuk dotyka go od wewnętrznej strony. Pozostałe palce są wyprostowane.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/u.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Uu</h3>
                            <p class="card-text text-center">Litera "U" jest migana w ten sposób, że palce wskazujący i środkowy są wyprostowane,
                            lekko rozchylone i skierowane w dół, a pozostałe palce są zaciśnięte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- wyz -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/w.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Ww</h3>
                            <p class="card-text text-center">Litera "W" jest migana jako wyprostowane palce wskazujący, środkowy i serdeczny,
                                oraz zgięte, dotykające kciuk i mały palec.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/y.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Yy</h3>
                            <p class="card-text text-center">Litera "Y" jest migana jako wyprostowane palce wskazujący i mały,
                                podczas gdy palce środkowy i serdeczny są zgięte i przytrzymywane przez kciuk.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/z.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Zz</h3>
                            <p class="card-text text-center">Litera "Z" jest migana jako kształt litery "Z" rysowany w powietrzu palcem wskazującym.
                            Pozostałe palce są zaciśnięte.</p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- źż -->
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/z1.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Źź</h3>
                            <p class="card-text text-center">Litera "Ź" jest migana tak, jak litera "Z", tylko na końcu ruchu wykonuje się
                                dodatkowo gest po skosie w dół.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="card">
                        <img src="/20_palonek/przewodnik/static/images/z2.jpg" class="card-img-top" alt="litera a">
                        <div class="card-body_letter">
                            <h3>Żż</h3>
                            <p class="card-text text-center">Litera "Ż" jest migana tak, jak litera "Z", a na końcu dodatkowo zaznacza się kropkę nad literą. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">

                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="p-2 bg-white text-center text-dark position-relative">
        <div class="container">
            <p class="lead">Pola Palonek &copy; 2023</p>
            <a href="#" class="position-absolute bottom-0 end-0 p-3">
                <i class="bi bi-arrow-up-circle h3 text-dark"></i>
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.showcase-left', {
            duration: 2000,
            origin: 'left',
            distance: '330px'
        });
        sr.reveal('#motyl', {
            duration: 2000,
            origin: 'right',
            distance: '330px',
            delay: 1000
        });
        sr.reveal('.card', {
            duration: 1500,
            origin: 'bottom',
            distance: '330px',
            viewFactor: 0.2
        });
    </script>
</body>
</html>