<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/20_palonek/przewodnik//static/style.css">
    <link rel="shortcut icon" href="/20_palonek/przewodnik/static/images/motyl.png">
    <title>Przewodnik po świecie ciszy</title>
</head>
<body>
    <!-- nawigacja -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <a href="/20_palonek/przewodnik/" class="navbar-brand"><i class="bi bi-house h3 px-2"></i> Przewodnik po świecie ciszy</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/kultura" class="nav-link">Kultura Głuchych</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/daktylografia" class="nav-link">Daktylografia</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/o_serwisie" class="nav-link">O serwisie</a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                            {% if current_user.id == 23 %}
                                <a href="{{ url_for('admin') }}" class="btn btn-success btn-small">Profil administratora</a>
                            {% else %}
                                <a href="{{ url_for('dashboard') }}" class="btn btn-success btn-small">Mój profil</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-success btn-small">Logowanie</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- nagłówek -->
        <!-- p-5 - padding (wartości 1-5); może być pt - padding top, pb, px (po prawej i lewej), py -->
    <section class="bg-dark text-light p-5 text-center">
        <div class="container">
            <div class="d-sm-flex">
                <div class="mx-4">
                    <h1>Przewodnik po świecie <span class="text-turquoise">ciszy</span> </h1>
                    <div class="showcase-left">
                    <figure class="text-center">
                        <blockquote class="blockquote fst-italic">
                            <p>Zacząłem zdawać sobie sprawę, że&nbsp;wiele osób nie&nbsp;ma świadomości istnienia kultury Głuchych,
                                a&nbsp;ja&nbsp;dostałem świetne narzędzie do&nbsp;zmiany postrzegania społeczności niesłyszących.</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Nyle DiMarco [x]
                        </figcaption>
                    </figure>
                    </div>
                </div>
                <img id="motyl" class="img-fluid w-25" src="/20_palonek/przewodnik/static/images/motyl.png" alt="Logo motyla w kolorach białym i turkusowym">
            </div>
        </div>
    </section>

    <!-- podstrony -->
    <section class=" p-5 bg-turquoise">
        <div class="container text-center align-items-lg-center mx-5">
            <div class="mt-5 align-items-lg-center mx-5">
                <h2 class="score-head mt-5">Koniec!</h2>
                <h5>Wygląda na to, że na razie nie ma więcej słów w naszej bazie. Poczekaj na pojawienie się nowych.
                    Możesz przejść na stronę główną, zobaczyć swoje wyniki lub spróbować innych form nauki.</h5>
                <div class="m-4">
                    <a href="{{ url_for('home') }}" class="btn btn-turquoise">Strona główna</a>
                    <a href="{{ url_for('dashboard') }}" class="btn btn-turquoise">Zobacz wyniki</a>
                    <a href="{{ url_for('daktylografia') }}" class="btn btn-turquoise">Inne gry</a>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="p-2 bg-white text-center text-dark position-relative">
        <div class="container">
            <p class="lead">Pola Palonek &copy; 2023</p>
            <a href="#" class="position-absolute bottom-0 end-0 p-3">
                <i class="bi bi-arrow-up-circle h3 text-dark"></i>
            </a>
        </div>
    </footer>


    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>


</body>
</html>