.navbar-brand{
  font-size: 25px !important;
}

.text-turquoise {
  --bs-text-opacity: 1;
  color: #00FAEB !important;
}

.text-black {
  color: #000000 !important;
}

.lead {
  font-weight: 450 !important;
}

.bg-black {
  background-color: black;
}

.bg-turquoise {
  background-image: linear-gradient(#00FAEB, #ffff);
}

.bg-total_turquoise {
  background-color: #00FAEB;
}

.btn-turquoise {
  color: black;
  background-color: #00FAEB;
}

.btn-my_default {
  color: white;
  background-color: #006600;
}

.card-body_letter {
  height: 210px !important;
}

ul.lead {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.letter_photo {
    display: inline-block;
    margin: 2px;
}

.letter_photo img {
    width: 120px;
}

.word_photo_ {
  width: 100%;
  display: inline;
  height: 120px;
}

/*.btn-turquoise a:hover{*/
/*  background-color: lightgrey;*/
/*}*/


  /* Question Page CSS */

  .ques-div{
    font-size: 20px;
    margin: 7%;
    margin-top: 2%;
  }

  .qnum{
    font-size: 25px;
  }

  .ques-heading{
    font-size: 25px;
  }

  .options-div{
    margin-top: 13%;
  }

  .options-div label{
    font-size: 17px;
  }
  .sub-btn{
    margin-left: auto;
    margin-right: auto;
  }

  /* Score Page csss */

  .highest-score{
    margin-top: 30px;
    font-size: 18px;
    width: 80%;
  }


  .score-head {
    font-size: 35px;
  }

  .score-circle {
    border-width: 8px;
    border-color: blue;
    position: center;
    width: 120px;
    height: 120px;
    margin-top: 32px;
    background-color: white;
    border-radius: 50%;
    padding-top: 5px;
  }

  .score-circle h1{
    font-size: 40px;
    padding: 17px;
  }

  .congrats-cls{
    margin-top: 35px;
    font-size: 30px;
  }

  .redirect-links{
    margin-top: 60px;
    width: 70%;
  }