<!doctype html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="/20_palonek/przewodnik//static/style.css">
    <link rel="shortcut icon" href="/20_palonek/przewodnik/static/images/motyl.png">
    <title>Przewodnik po świecie ciszy - kultura Głuchych</title>
</head>
<body>
    <!-- nawigacja -->
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3">
        <div class="container">
            <a href="/20_palonek/przewodnik/" class="navbar-brand"><i class="bi bi-house h3 px-2"></i> Przewodnik po świecie ciszy</a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navmenu">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/kultura" class="nav-link active">Kultura Głuchych</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/daktylografia" class="nav-link">Daktylografia</a>
                    </li>
                    <li class="nav-item">
                        <a href="/20_palonek/przewodnik/o_serwisie" class="nav-link">O serwisie</a>
                    </li>
                    <li class="nav-item">
                        {% if current_user.is_authenticated %}
                            {% if current_user.id == 23 %}
                                <a href="{{ url_for('admin') }}" class="btn btn-success btn-small">Profil administratora</a>
                            {% else %}
                                <a href="{{ url_for('dashboard') }}" class="btn btn-success btn-small">Mój profil</a>
                            {% endif %}
                        {% else %}
                            <a href="{{ url_for('login') }}" class="btn btn-success btn-small">Logowanie</a>
                        {% endif %}
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- nagłówek -->
    <section class="bg-dark text-light p-5 text-center text-sm-start">
        <div class="container">
            <div class="d-sm-flex">
                <div class="mx-4">
                    <h1>Kultura Głuchych</h1>
                    <div class="showcase-left">
                    <p class="lead">
                        W tej części serwisu znajdują się podstawowe informacje o&nbsp;Głuchych, ich kulturze i&nbsp;języku.
                        Celem jest zwiększenie świadomości osób, które na co dzień nie&nbsp;mają kontaktu z&nbsp;niesłyszącymi.
                        Wszystkie treści merytoryczne zostały zatwierdzone przez osobę głuchą od urodzenia, członka kultury Głuchych.
                    </p>
                    </div>
                </div>
                <img id="motyl" class="img-fluid w-25" src="/20_palonek/przewodnik/static/images/motyl.png" alt="Logo motyla w kolorach białym i turkusowym">

            </div>
        </div>
    </section>


    <!-- menu -->
    <section id="menu" class="py-0 px-3 bg-total_turquoise">
        <div class="container">
            <div class="row">
                <div class="col-md mx-2 my-3">
                    <h2>Menu</h2>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="dropdown">
                        <button class="btn btn-my_default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            GŁUSI
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item b" href="#glusi">Głusi</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#jak_mowic">Jak mówić o osobach niesłyszących?</a></li>
                            <li><a class="dropdown-item" href="#moga_wszystko">Głusi mogą wszystko…</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="dropdown">
                        <button class="btn btn-my_default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            JĘZYK
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#jezyk">Język</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#ile_jest_jezykow">Ile jest języków migowych?</a></li>
                            <li><a class="dropdown-item" href="#rozmowy_miedzynarodowe">Jak porozumiewają się głusi z różnych krajów?</a></li>
                            <li><a class="dropdown-item" href="#pjm_sjm">Czym jest PJM i SJM?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md mx-2 my-3">
                    <div class="dropdown">
                        <button class="btn btn-my_default dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                            KULTURA
                        </button>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#kultura">Kultura Głuchych</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="#kultura1">Dlaczego kultura Głuchych jest dla nich tak ważna?</a></li>
                            <li><a class="dropdown-item" href="#członkowie">Kto może być członkiem społeczności Głuchych?</a></li>
                            <li><a class="dropdown-item" href="#zwyczaje">Jakie zwyczaje panują wśród Głuchych?</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md mx-4 my-3">
                    <a href="#slownik" class="btn btn-success">SŁOWNIK POJĘĆ</a>
                </div>
                <div class="col-md mx-4 my-3">
                    <a href="#quiz" class="btn btn-success">QUIZ</a>
                </div>
            </div>
        </div>

    </section>



    <!-- sekcje -->
    <section id="glusi" class="p-md-5 bg-white text-dark">
        <div class="container">
            <div class="content_on_the_right">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-3">
                        <img src="/20_palonek/przewodnik/static/images/glusi.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md p-5">
                        <h2>&nbsp;GŁUSI</h2>
                        <h3 id="jak_mowic">Jak mówić o osobach niesłyszących?</h3>
                        <p class="lead pb-0 mb-0">
                            Kwestia zwracania się do osoby niesłyszącej jest sprawą indywidualną.
                            W kontaktach jeden na jeden powinno się zapytać daną osobę jak chciałaby,
                            żeby się do niej zwracać. Kiedy mówimy/piszemy o grupie ludzi, można użyć
                            jednego z poniższych określeń: </p>
                        <ul class="lead">
                            <li><b>niesłyszący</b> – określenie neutralne, nazwanie stanu,</li>
                            <li><b>głusi</b> – również neutralne, opis, </li>
                            <li><b>Głusi</b> – osoby dumne z tego, że należą do środowiska i kultury Głuchych, posługujące się polskim językiem migowym.</li>
                        </ul>
                        <p class="lead">Określeniem, którego nie powinno się używać jest „głuchoniemy”. Jest ono źle odbierane,
                            nacechowane pejoratywnie, ponieważ mówi o osobie „niemej”, co Głusi rozumieją jako „osoba,
                            która nie potrafi się porozumieć”. A Głusi mają swój język, potrafią się komunikować,
                            więc nie czują się niemi. Jest to słowo przestarzale, wciąż używane m.in. przez lekarzy,
                            jednak Głusi walczą o usunięcie go ze słownika (podobnie, jak słowo „inwalida” czy „niepełnosprawny”
                            zostało wyparte przez zwrot „osoba z niepełnosprawnością”).</p>
                        <h3 id="moga_wszystko">Głusi mogą wszystko…</h3>
                        <p class="lead">Większości słyszących wydaje się, że bez słuchu nie można normalnie funkcjonować, jednak
                            głusi na całym świecie udowadniają, że nie jest to prawdą. Zgodnie ze stwierdzeniem
                            głuchego rektora Uniwersytetu Gallaudeta – Thomasa Hopkinsa Gallaudeta: „Głusi mogą wszystko,
                            tylko słyszeć nie mogą”, głusi mogą studiować, pracować, prowadzić samochód, wychowywać dzieci, a nawet
                            tańczyć czy komponować muzykę (jak Beethoven).</p>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="jezyk" class="p-md-5 bg-turquoise text-dark">
        <div class="container">
            <div class="content_on_the_left">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md p-5">
                        <h2>&nbsp;JĘZYK</h2>
                        <h3 id="ile_jest_jezykow">Ile jest języków migowych?</h3>
                        <p class="lead">Głusi porozumiewają się przy pomocy języka migowego – wizualnej formy komunikacji, w której
                            rozmaitym gestom i mimice przypisane jest znaczenie.</p>
                        <p class="lead">Nie istnieje jeden, uniwersalny język migowy. Podobnie jak słyszący, głusi w różnych krajach czy
                       rejonach geograficznych posługują się różnymi językami migowymi. W Polsce jest to polski język migowy (PJM),
                       w Niemczech niemiecki język migowy (Deutsche Gebärdensprache – DGS), w USA amerykański język migowy
                       (american sign language – ASL), a w Wielkiej Brytanii brytyjski język migowy (british sign language – BSL)
                       itd. Oprócz tego w językach migowych występują liczne dialekty.</p>
                        <h3 id="dialekty">Dlaczego Głuchy Krakowiak miga inaczej niż Głuchy Warszawiak? - dialekty</h3>
                        <p class="lead">Języki migowe są trudne do zapisania, a co za tym idzie do zunifikowania. Dlatego dialekty w języku migowym
                        są znacznie bardziej widoczne niż w języku fonicznym. Nie sprawia to jednak, że Głuchy z Krakowa i Głuchy z Warszawy,
                        czy dowolnych innych części Polski nie będą w stanie porozumieć się w PJM. Niektóre znaki się różnią, ale język
                        pozostaje ten sam.</p>
                        <h3 id="rozmowy_miedzynarodowe">Jak porozumiewają się głusi z różnych krajów?</h3>
                        <p class="lead">Niektórzy głusi uczą się amerykańskiego języka migowego (ASL) i w ten sposób mogą się porozumiewać.
                            Nie jest on jednak tak popularny jak język angielski wśród języków fonicznych. Dlatego opracowano
                            international sign (IS). Jest to zbiór znaków, stanowiących wzór w komunikacji międzynarodowej.
                            Są to jednak tylko słowa (znaki), bez określonej gramatyki. Każdy głuchy miga te znaki wg gramatyki
                            swojego języka migowego. International Sign pozwala komunikować się np. na konferencjach międzynarodowych, nie stanowi
                            jednak odrębnego języka, a system.</p>
                        <h3 id="pjm_sjm">Czym jest PJM i SJM?</h3>
                        <p class="lead"><a href="#slownik-pjm">PJM</a>, czyli polski język migowy jest językiem naturalnym, którym posługują się Głusi w Polsce, a także pierwszym
                            językiem dzieci, których rodzice są Głusi. PJM ma własną gramatykę, słownictwo i zwroty,
                            ma więc niewiele wspólnego z językiem polskim. Dlatego dla osób, które wychowały się w
                            głuchych rodzinach język polski jest językiem obcym, a pierwszym językiem jest PJM.</p>
                        <p class="lead"><a href="#slownik-sjm">SJM</a> to system językowo-migowy. W przeciwieństwie do PJM nie jest językiem naturalnym, a sztucznym systemem,
                       który miał ułatwić osobom słyszącym komunikację z głuchymi. Są to wybrane znaki PJM migane zgodnie z gramatyką
                       języka polskiego. To połączenie sprawia, że dla osoby głuchej, która nie zna języka polskiego, zdanie migane
                       w SJM może być zupełnie niezrozumiałe.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="/20_palonek/przewodnik/static/images/jezyk.svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="kultura" class="p-md-5 bg-total_turquoise text-dark">
        <div class="container">
            <div class="content_on_the_right">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md-3">
                        <img src="/20_palonek/przewodnik/static/images/jezyk.svg" class="img-fluid" alt="">
                    </div>
                    <div class="col-md p-5">
                        <h2>&nbsp;KULTURA GŁUCHYCH</h2>
                        <h3 id="kultura1">Dlaczego kultura Głuchych jest dla nich tak ważna?</h3>
                        <p class="lead">Własna kultura i język dają Głuchym poczucie jedności i przynależności. Wyróżniają
                            Głuchych spośród innych grup osób z niepełnosprawnościami. <br>
                            Osoby niesłyszące wśród innych Głuchych nie czują się niepełnosprawne. W codziennym życiu zmagają się z wieloma
                            trudnościami i brakiem zrozumienia. W środowisku Głuchych czują się o wiele swobodniej, przestają odczuwać opresję.
                        </p>
                        <h3 id="członkowie">Kto może być członkiem społeczności Głuchych?</h3>
                        <p class="lead">Za wyznacznik przynależności do społeczności Głuchych uznaje się znajomość języka migowego.
                            Język migowy jest najwyżej cenioną wartością kulturową, dlatego jego opanowanie jest kluczowe, jeśli
                            chce się być częścią tej kultury.<br>
                            Wynika z tego, że można być głuchym (przez małe "g"), ale nie należeć do kultury Głuchych,
                            a można być słyszącym i Głuchym.
                        </p>
                        <h3 id="zwyczaje">Jakie zwyczaje panują wśród Głuchych?</h3>
                        <p class="lead pb-0 mb-0"> Głusi są z reguły bezpośredni, otwarci i skłonni do kontaktu fizycznego. Żeby móc porozumieć się w języku
                            migowym, trzeba nawiązać kontakt wzrokowy. <strong>Sposoby, w jakie Głusi zwracają uwagę drugiej osoby:</strong></p>
                            <ul class="lead">
                                <li><b>klepnięcie (zwykle w ramię)</b> – kiedy ktoś stoi w zasięgu ręki,</li>
                                <li><b>machanie ręką</b> – kiedy ktoś stoi w zasięgu wzroku, ale zbyt daleko, żeby go dotknąć,</li>
                                <li><b>uderzanie o stół</b> – kiedy ktoś siedzi przy stole i może poczuć wibracje, </li>
                                <li><b>tupanie</b> – podobnie jak w przypadku stołu chodzi o wibracje,</li>
                                <li><b>miganie światłem</b> – kiedy znajduje się w pomieszczeniu, zwłaszcza, jeśli chce się zwrócić uwagę większej grupy, </li>
                                <li><b>rzucanie czymś lekkim (np. kulką z papieru)</b> – używane zwykle jeśli zna się osobę do której sie rzuca, </li>
                                <li><b>inne sposoby</b> – zależne od sytuacji i stopnia znajomości. </li>
                            </ul>
                        <p class="lead">Część z tych zachowań mogłaby zostać uznana za niekulturalne wśród słyszących, jednak wśród Głuchych są
                        zupełnie naturalne.</p>
                        <p class="lead">Kolejnym elementem wyróżniającym kulturę Głuchych jest zwracanie się do innych. <strong>Głusi od razu przechodzą na
                        "ty"</strong>, nie ma u nich zwyczaju zwracania się per Pan/Pani do nowo poznanych osób. Pozwala to na skrócenie dystansu
                        i większą otwartość.</p>
                        <p class="lead">Do innych zwyczajów charakterystycznych dla Głuchych należy między innymi życzenie "smacznego" podczas posiłków.
                        Znak smacznego pokazuje się muskając policzek dwoma palcami, jednak na przykład kiedy każdy skupiony jest na swoim talerzu,
                        nikt nie zauważy migania. Dlatego <strong>Głusi pukają dwukrotnie w stół, żeby życzyć smacznego innym osobom.</strong>
                        Dzięki temu poczują one wibracje i zwykle odwrócą się, żeby podziękować.</p>
                        <p class="lead">Charakterystyczny jest także sposób, w jaki Głusi biją brawa. Opiera się on na formie wizualnej,
                            a nie dźwiękowej. <strong>Oklaski wizualne polegają na wykonywaniu gestów jak przy wkręcaniu żarówki, energicznie
                            i obiema dłońmi.</strong>Sprawia to, że osoba Głucha nagrodzona takimi brawami widzi wiele falujących dłoni.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="slownik" class="p-md-5 bg-light text-dark">
        <div class="container">
            <div class="content_on_the_left">
                    <div>
                        <h2>&nbsp;SŁOWNIK POJĘĆ</h2>
                        <ul>
                            <li>
                                <h4 id="slownik-pjm">PJM</h4>
                                <p class="lead">PJM (polski język migowy) – język naturalny używany przez Głuchych w Polsce.
                                    Ma własną gramatykę i słownictwo. Podstawowymi elementami tego języka są gesty, przestrzeń i mimika.</p>
                            </li>
                            <li>
                                <h4 id="slownik-sjm">SJM</h4>
                                <p class="lead">SJM (system językowo-migowy) – sztuczny system komunikacji stworzony w latach 70.,
                                żeby ułatwić słyszącym porozumiewanie się z głuchymi. Nie jest językiem naturalnym a systemem znaków
                                miganych wg gramatyki języka polskiego.</p>
                            </li>
                        </ul>
                    </div>
            </div>
        </div>
    </section>

    <section id="quiz" class="p-md-5 bg-turquoise text-dark">
        <div class="container">
            <div class="content_on_the_left">
                <div class="row align-items-center justify-content-between">
                    <div class="col-md p-5">
                            <h2>&nbsp;QUIZ</h2>
                        <h3>Chcesz sprawdzić swoją wiedzę o Głuchych? Rozwiąż quiz!</h3>
                        <a href="{{ url_for('question', id=1) }}" class="btn btn-success">Rozpocznij quiz</a>
                    </div>
                    <div class="col-md-3">
                        <img src="/20_palonek/przewodnik/static/images/quiz.svg" class="img-fluid" alt="">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- footer -->
    <footer class="p-2 bg-white text-center text-dark position-relative">
        <div class="container">
            <p class="lead">Pola Palonek &copy; 2023</p>
            <a href="#" class="position-absolute bottom-0 end-0 p-3">
                <i class="bi bi-arrow-up-circle h3 text-dark"></i>
            </a>
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.6.4.js" integrity="sha256-a9jBBRygX1Bh5lt8GZjXDzyOB+bWve9EiO7tROUtj/E=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/scrollreveal"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.showcase-left', {
            duration: 2000,
            origin: 'left',
            distance: '330px'
        });
        sr.reveal('#motyl', {
            duration: 2000,
            origin: 'right',
            distance: '330px',
            delay: 1000
        });
        sr.reveal('.content_on_the_right', {
            duration: 2500,
            origin: 'right',
            distance: '330px',
            viewFactor: 0.2
        });
        sr.reveal('.content_on_the_left', {
            duration: 2500,
            origin: 'left',
            distance: '330px',
            viewFactor: 0.2
        });
    </script>


</body>
</html>